.mini-submenu{
    display:block;  
    background-color: white;  
    border: 1px solid gray;
    border-radius: 4px;
    padding: 9px;  
    width: 42px;
    z-index: 1;
    position: absolute;
    margin-bottom: 20px;
}

.mini-submenu:hover{
    cursor: pointer;
}

.mini-submenu .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    margin-top: 3px;
}

.mini-submenu .icon-bar {
    background-color: black;
}

#slide-submenu{
    display: inline-block;
    padding: 0 8px;
    border-radius: 4px;
    cursor: pointer;
}

.pull-right{
    background-color: #ADADAD;
    color: white;
}

.pull-right:hover{
    background-color: #CCCCCC;
    color: white;
}

.list-group{
    position: absolute;
    min-width: 270px;
    z-index: 1;
}

.carousel-indicators li{
    border-radius: 35%;
    border-color: black;
}

.carousel-inner{
    max-height: 250px;
}

.panel{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.panel-footer{
    width: 100%;
}

.thumbnail{
    min-height: 170px;
    max-height: 170px;
    border: 1px #FFFFFF solid;
}

.carousel-inner .thumbnail{
    min-height: 250px;
    max-height: 250px;
    border: 1px #FFFFFF solid;
}

#carousel-example-generic{
    border: 1px #CCCCCC solid;
}

.img-thumbnail{
    max-height: 200px;
    border: none;
    margin: auto;
    padding-top: 50px;
}

.red{
    color: #FF6961;
}

.green{
    color: #23BA7E;
}

.search-bar{
    width: 225%;
}

.form-container{
    max-width: 700px;
    margin: auto;
}

/* Quand on passe en mode mobile, on change les propriétés suivantes */
@media (max-width: 767px) {
    .list-group{
        position: relative;
    }

    .mini-submenu{
        position: relative;
    }
    .search-bar{
        width: 100%;
    }

    h1{
        font-size: 25px;
    }
};